.Book-tile {
  background-color: #12BFECB6;
  max-height: 225px;
  max-width: 150px;
}

.shelf {
  position: relative;
}

.book {
  position: absolute;
}

#content {
  position: relative;
  margin: 0;
}

img {
  object-fit: cover;
}