.Book-tile {
  background-color: #12BFECB6;
  height: 225px;
  width: 150px;
}

.shelf {
  position: absolute;
}

.book {
  position: absolute;
}

#content {
  position: relative;
}

img {

  width: 150px;
  object-fit: cover;
}